@import url("https://fonts.googleapis.com/css2?family=Heebo&display=swap");
body {
  font-family: "Heebo", sans-serif;
  padding: 0;
  margin: 0;
}

nav {
  display: flex;
  justify-content: flex-end;
  margin: 20px;

  padding-bottom: 20px;
}
nav ul {
  display: none;
}
.ViewAll a {
  display: none;
}
.hero_section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.hero_desk {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.img_div {
  border-radius: 50%;
  overflow: hidden;
  width: 170px;
  height: 180px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.img_div .img_pic {
  margin: 0px;
}

.img_pic {
  width: 100%;
  height: auto;
}

.h1_hero {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 125%;
  text-align: center;
  margin: 10px 40px;
}

.description {
  font-style: normal;
  font-weight: 400px;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  margin: 0 8px;
  padding: 0rem 1rem;
}

button {
  background-color: #ff6464;
  color: white;
  border: none;
  padding: 11px 22px;
  font-size: 1rem;
  border-radius: 2px;
  margin-bottom: 55px;
}

footer {
  padding-top: 200px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer div img {
  padding: 0rem 1rem;
}

section {
  background-color: #edf7fa;
  display: flex;
  flex-direction: column;
  padding-bottom: 2em;
}
section .ViewAll p {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
}
.section_1 {
  background-color: #ffffff;
  box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
  border-radius: 4px;
  margin: 0rem 0.6rem 0.6rem 0.6rem;
}
.section_1 > h1 {
  font-size: 22px;
  padding-left: 20px;
  margin-top: 12px;
}
.section_1 p {
  font-size: 16px;
  padding-left: 20px;
  padding-right: 22px;
  margin-top: 12px;
}

.section_2 {
  background-color: #ffffff;
  box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
  border-radius: 4px;
  margin: 0.6rem;
}
.section_2 > h1 {
  font-size: 22px;
  padding-left: 20px;
  margin-top: 12px;
}
.article_1 {
  padding-bottom: 10px;
}
.section_2 p {
  font-size: 16px;
  padding-left: 20px;
  padding-right: 22px;
  margin-top: 12px;
}

div .image_design {
  border-radius: 6px;
  margin: 0px 1rem 0px 1rem;
}
.main_2 > p {
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
}
.main_2 div h2,
.article_2 {
  font-size: 16px;
  margin: 0.5rem 1.5rem 0rem 1rem;
}
.botton {
  display: flex;
  gap: 1em;
  padding-left: 1em;
  color: white;
}
.botton p:nth-child(1) {
  background-color: #142850;
  border-radius: 16px;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
}
.botton p:nth-child(2) {
  background-color: #00a8cc;
  border-radius: 16px;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
}
hr {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1em;
  border: 0.1px solid #e0e0e0;
}
.main_work_2 {
  display: none;
}
@media only screen and (min-width: 1200px) {
  .hamburger {
    display: none;
  }
  nav ul {
    display: flex;
    list-style-type: none;
    gap: 40px;
    margin-right: 40px;
  }
  nav ul li a {
    text-decoration: none;
    text-align: right;
    font-weight: 700;
    font-size: 18px;
    line-height: 29px;
    color: black;
  }
  ul li a:hover {
    color: #ff6464;
  }
  ul li a:active {
    color: #ff6464;
  }
  .img_div {
    border-radius: 50%;
    width: 200px;
    height: 240px;
    flex: 2.5;
    margin: 30px;
    align-self: flex-start;
  }
  .hero_section {
    display: flex;
    flex-direction: row-reverse;

    padding: 180px;
    padding-bottom: 50px;
    padding-top: 60px;
  }
  .hero_desk {
    flex: 5.5;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 60px;
    gap: 30px;
    padding-right: 20px;
  }
  .description {
    text-align: left;
    padding: 0px;
    margin: 0%;
  }
  .hero_desk .h1_hero {
    margin: 0px;
    text-align: left;
  }
  button {
    margin: 0%;
  }
  .ViewAll {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin: 0px 180px;
  }
  .ViewAll a {
    text-decoration: none;
    color: #00a8cc;
    display: flex;
  }

  .main_section {
    display: flex;
    margin: 0px 170px;
  }
  .section_2 {
    margin-top: 0px;
  }
  .section_2,
  .section_1 {
    padding: 0px 18px;
  }
  .main_work_2 {
    display: block;
  }
  .main_work_3 {
    display: block;
  }
  .main_2 {
    display: flex;
    flex-direction: column;
  }
  .image_design {
    border-radius: 6px;
    margin: 0px 1rem 0px 1rem;
    width: 25%;
    float: left;
  }
  hr {
    margin-bottom: 15px;
  }
}
