@import url("https://fonts.googleapis.com/css2?family=Heebo&display=swap");
body {
  font-family: "Heebo", sans-serif;
  padding: 0;
  margin: 0;
}
nav {
  display: flex;
  justify-content: flex-end;
  margin: 20px;
  padding-bottom: 20px;
}

.hero_section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.img_div {
  border-radius: 50%;
  overflow: hidden;
  width: 45%;
  height: 180px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.img_div img {
  margin: 0px;
}

.img_pic {
  width: 100%;
}

.h1_hero {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 125%;
  text-align: center;
  margin: 10px 40px;
}

.description {
  font-style: normal;
  font-weight: 400px;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  margin: 0 8px;
  padding: 0rem 1rem;
}

button {
  background-color: rgb(255, 83, 83);
  color: white;
  border: none;
  padding: 11px 22px;
  font-size: 1rem;
  border-radius: 2px;
  margin-bottom: 55px;
}

footer {
  padding-top: 200px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  background-color: #edf7fa;
  display: flex;
  flex-direction: column;
  padding-bottom: 2em;
}
section > p {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
}
.section_1 {
  background-color: #ffffff;
  box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
  border-radius: 4px;
  margin: 0rem 0.6rem 0.6rem 0.6rem;
}
.section_1 > h1 {
  font-size: 22px;
  padding-left: 20px;
  margin-top: 12px;
}
.section_1 p {
  font-size: 16px;
  padding-left: 20px;
  padding-right: 22px;
  margin-top: 12px;
}

.section_2 {
  background-color: #ffffff;
  box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
  border-radius: 4px;
  margin: 0.6rem;
}
.section_2 > h1 {
  font-size: 22px;
  padding-left: 20px;
  margin-top: 12px;
}
.article_1 {
  padding-bottom: 10px;
}
.section_2 p {
  font-size: 16px;
  padding-left: 20px;
  padding-right: 22px;
  margin-top: 12px;
}

div img {
  border-radius: 6px;
  margin: 0px 1rem 0px 1rem;
}
.main_2 > p {
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
}
.main_2 h2,
.article_2 {
  font-size: 24px;
  margin: 0.5rem 1.5rem 0rem 1rem;
}
.botton {
  display: flex;
  gap: 1em;
  padding-left: 1em;
  color: white;
}
.botton p:nth-child(1) {
  background-color: #142850;
  border-radius: 16px;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
}
.botton p:nth-child(2) {
  background-color: #00a8cc;
  border-radius: 16px;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
}
hr {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1em;
  border: 0.1px solid #e0e0e0;
}
